<% recent_messages.each do |msg| %>
  <div class="card">
    <div class="card-body">
      <%= msg.value %>
    </div>
  </div>
<% end %>

<script>
  setTimeout(function() { window.location.reload(); }, 5000);
</script>
