<table class="table">
  <thead>
    <tr>
      <th>Topic</th>
      <th>Partition</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <% recent_messages.each do |msg| %>
      <tr>
        <td><%= msg.topic %></td>
        <td><%= msg.partition %></td>
        <% pretty = JSON.pretty_generate(JSON.parse(msg.value)) %>
        <td><%= pretty %></td>
      </tr>
    <% end %>
  <tbody>
</table>

<script>
  setTimeout(function() { window.location.reload(); }, 5000);
</script>
